* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --bg-color: #111111;
    --main-color: #54A4F5;
    --second-main-color: #ffffffcc;
    --text-color: #ffffff;
    --big-font: 3.8rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 24px 11%;
    transition: 0.3s;
}

.logo {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover {
    background: var(--main-color);
    transition: 0.3s;
}

#menu-icon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 120px 11%;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
}

.home-img img {
    max-width: 100%;
    width: 430px;
    height: auto;
    box-shadow: 0 20px 5px rgba(0, 0, 0, 0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all is ease-in-out;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--text-color);
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
}

.home-text h6 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.home-text p {
    max-width: 470px;
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 1.4rem;
    margin-bottom: 1rem;
    color: var(--second-main-color);
}

.btn {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
}

.btn:hover {
    background-color: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.copyright {
    text-align: center;
    padding: 30px;
    color: var(--second-main-color);
    background: #0a0a0a;
    margin-top: 3rem;
    line-height: 1.8rem;
}

.copyright a {
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;
}